name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
      - '**'

jobs:
  build:
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        platform: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.6, 3.7, 3.8, 3.9, '3.10.0-beta.1']

    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - uses: actions/cache@v2
        id: pip-cache
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.platform }}-pip-${{ matrix.python-version }}-${{ hashFiles('requirements.txt') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.platform }}-pip-${{ matrix.python-version }}-

      - name: Update branches
        run: |
          git fetch origin feature/migration-test-01:feature/migration-test-01
          git fetch origin feature/migration-test-02:feature/migration-test-02
        working-directory: migration_fixer/tests/demo

      - name: Install dependencies
        run: |
          make install-test

      - name: Checkout feature/migration-test-01
        run: |
          git checkout feature/migration-test-01
        working-directory: migration_fixer/tests/demo

      - name: Run test_01
        run: make tox
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
          PLATFORM: ${{ matrix.platform }}
          ENV: test_01

      - name: Checkout feature/migration-test-01
        run: |
          git checkout feature/migration-test-01
        working-directory: migration_fixer/tests/demo

      - name: Run test_02
        run: make tox
        env:
          CODACY_PROJECT_TOKEN: ${{ secrets.CODACY_PROJECT_TOKEN }}
          PLATFORM: ${{ matrix.platform }}
          ENV: test_02

      - name: Run codacy-coverage-reporter
        uses: codacy/codacy-coverage-reporter-action@v1
        with:
          project-token: ${{ secrets.CODACY_PROJECT_TOKEN }}

      - name: "Upload coverage to Codecov"
        uses: codecov/codecov-action@v1.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          fail_ci_if_error: true
